<launch>
  <include file="$(find ur10_description)/launch/load.launch" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


  <node name="ur_sim_sim2" pkg="ur_cart_move" type="ur_arm_sim.py" output="screen">
    <remap from="/joint_states" to="/sim2/joint_states" />
    <remap from="/ur_joint_states" to="/sim2/ur_joint_states" />
    <remap from="/ur_mode_states" to="/sim2/ur_mode_states" />
    <remap from="/ur_joint_command" to="/sim2/ur_joint_command" />
    <remap from="/ur_mode_command" to="/sim2/ur_mode_command" />
  </node>
  <node name="sim2_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/sim2/joint_states" />
j   <param name="tf_prefix" value="/sim2" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="sim2_static_tf" args="0 0 0 0 0 0 /base_link /sim2/base_link 100" />
</launch>
