<launch>
    <arg name="task" default="airplane1" />
    <arg name="cheat" default="n" />

   <node name="fix_tf" pkg="project_simulation" type="fix_tf.py" 
          output="screen" ></node>
   <node name="ar_markers_publish" pkg="project_simulation" type="ar_markers_publish.py" 
          output="screen" ></node>
   <node name="robo_sim_listen" pkg="project_simulation" type="robo_sim_listen.py" 
          output="screen" ></node>
	  
   <node name="hands_sim" pkg="project_simulation" type="hands_sim" cwd="node" 
          args="$(arg task) $(arg cheat)"
          output="screen" ></node>


</launch>
