<launch>
    <node pkg="arm_3d_cb_calib" type="find_cb_calib" name="find_cb_calib"
          args="/home/kelsey/dev/gt_ros_pkg_cpl/cpl_collab_manip/cbs.bag" output="screen">
          <!--
          <param name="num_rows" value="7" />
          <param name="num_cols" value="6" />
          <param name="dim_cb" value="0.0258" />
          <param name="init" value="False" />
          -->
          <param name="num_rows" value="8" />
          <param name="num_cols" value="6" />
          <param name="dim_cb" value="0.0505" />
          <param name="pt_noise" value="0.02" />
          <param name="pose_noise" value="0.00002" />
          <param name="init" value="False" />
         <param name="init_x" value="0.179526" />
         <param name="init_y" value="-0.039799" />
         <param name="init_z" value="0.030222" />
         <param name="init_qx" value="-0.692830" />
         <param name="init_qy" value="0.007353" />
         <param name="init_qz" value="0.720260" />
         <param name="init_qw" value="0.033414" />
      </node>
</launch>
