<launch>
    <node pkg="arm_3d_cb_calib" type="find_cb_calib" name="find_cb_calib"
          args="/home/kelsey/dev/gt_ros_pkg_cpl/cpl_collab_manip/2013_02_28_kinect1_reg_data_02.bag" output="screen">
          <!--
          <param name="num_rows" value="7" />
          <param name="num_cols" value="6" />
          <param name="dim_cb" value="0.0258" />
          <param name="init" value="False" />
          -->
          <param name="num_rows" value="8" />
          <param name="num_cols" value="6" />
          <param name="dim_cb" value="0.0505" />
          <param name="init" value="False" />
          <param name="init_x" value="-0.071597" />
          <param name="init_y" value="0.066542" />
          <param name="init_z" value="-0.044358" />
          <param name="init_qx" value="0.529076" />
          <param name="init_qy" value="-0.480560" />
          <param name="init_qz" value="0.531297" />
          <param name="init_qw" value="0.454779" />
      </node>
</launch>
