<launch>
    <node pkg="arm_3d_cb_calib" name="grab_cbs" type="grab_cb_data.py"
          args="$(find cpl_collab_manip)/config/large_cb_config.yaml $(find cpl_collab_manip)/cbs.bag" output="screen" >
        <param name="is_kinect" value="False" />
        <remap from="/camera" to="/lifecam1/image" />
        <remap from="/camera_info" to="/lifecam1/camera_info" />
    </node>
</launch>
