<launch>
  <include file="$(find kh_sandbox)/launch/load_model.launch" />
  <param name="use_gui" value="true"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kh_sandbox)/imkr_rviz_config.vcg" />
</launch>
