<launch>
  <!-- <include file="$(find tabletop_pushing)/launch/kinect_head.launch"/> -->
  <!-- <include file="$(find visual_servo)/launch/kinect_head.launch"/>  -->
  <include file="/etc/ros/fuerte/openni_head.launch"/>
  <include file="$(find tabletop_pushing)/launch/pr2_camera_self_filter_kinect_head.launch" />
</launch>
