<launch>
    <!-- <include file="$(find hrl_pr2_lib)/launch/openni_kinect_polled.launch"/> -->
    <node pkg="tabletop_pushing" type="position_feedback_push_node.py" name="tabletop_push_node" output="screen">
      <param name="torso_z_offset" type="double" value="0.3"/>
      <param name="default_torso_height" type="double" value="0.25"/>
      <param name="look_point_x" type="double" value="0.7"/>
      <param name="pressure_limit" type="double" value="1000"/>
      <param name="use_jinv" type="bool" value="False"/>
      <param name="use_joint_posture" type="bool" value="True"/>
    </node>
</launch>
