<launch>
    <!-- <include file="$(find hrl_pr2_lib)/launch/openni_kinect_polled.launch"/> -->
    <param name="servo_head_during_pushing" type="bool" value="true"/>
    <node pkg="tabletop_pushing" type="position_feedback_push_node.py" name="tabletop_push_node" output="screen">
      <param name="torso_z_offset" type="double" value="0.3"/>
      <param name="default_torso_height" type="double" value="0.26"/>
      <param name="look_point_x" type="double" value="0.7"/>
      <param name="pressure_limit" type="double" value="2000"/>
      <param name="use_jinv" type="bool" value="False"/>
      <param name="use_joint_posture" type="bool" value="True"/>

      <param name="push_control_goal_gain" type="double" value="0.1"/>
      <param name="push_control_spin_gain" type="double" value="0.1"/>
      <param name="push_control_position_spin_gain" type="double" value="0.15"/>

      <param name="push_control_contact_goal_gain" type="double" value="0.1"/>
      <param name="push_control_contact_gain" type="double" value="0.2"/>

      <param name="push_control_forward_heading_gain" type="double" value="0.1"/>
      <param name="push_control_in_heading_gain" type="double" value="0.001"/>
      <param name="max_heading_push_u_x" type="double" value="0.03"/>

      <param name="push_control_direct_goal_gain" type="double" value="0.15"/>

      <param name="tool_control_contact_goal_gain" type="double" value="0.15"/>
      <param name="tool_control_contact_gain" type="double" value="0.2"/>

      <param name="overhead_feedback_down_vel" type="double" value="0.0"/>
      <param name="max_close_effort" type="double" value="50"/>

      <param name="gripper_pull_reverse_dist" type="double" value="0.15"/>
      <param name="gripper_pull_forward_dist" type="double" value="0.15"/>

      <param name="gripper_push_reverse_dist" type="double" value="0.03"/>
      <param name="gripper_raise_dist" type="double" value="0.05"/>

    </node>
</launch>
