<launch>
  <param name="start_loc_use_fixed_goal" value="false" type="bool"/>
  <param name="use_graphcut_arm_seg" value="true" type="bool"/>
  <arg name="offline" value="false"/>

  <arg name="color_image_topic_name" value="/kinect_head/rgb/image_color" if="$(arg offline)"/>
  <arg name="depth_image_topic_name" value="/kinect_head/depth/image"  if="$(arg offline)"/>
  <arg name="mask_image_topic_name" value="/kinect_head/rgb/image_color/self_mask"  if="$(arg offline)"/>
  <arg name="point_cloud_topic_name" value="/kinect_head/depth/points" if="$(arg offline)"/>
  <arg name="camera_frame_name" value="openni_rgb_optical_frame"  if="$(arg offline)"/>

  <arg name="color_image_topic_name" value="/kinect_head/rgb/image_rect_color" unless="$(arg offline)"/>
  <arg name="depth_image_topic_name" value="/kinect_head/depth_registered/image" unless="$(arg offline)"/>
  <arg name="mask_image_topic_name" value="/kinect_head/rgb/image_rect_color/self_mask" unless="$(arg offline)"/>
  <arg name="point_cloud_topic_name" value="/kinect_head/depth_registered/points" unless="$(arg offline)"/>
  <arg name="camera_frame_name" value="head_mount_kinect_rgb_optical_frame" unless="$(arg offline)"/>

  <node name="push_learning_perception" pkg="tabletop_pushing" type="tabletop_pushing_perception_node" respawn="false" output="screen">

    <remap from="color_image_topic" to="$(arg color_image_topic_name)"/>
    <remap from="depth_image_topic" to="$(arg depth_image_topic_name)"/>
    <remap from="mask_image_topic"  to="$(arg mask_image_topic_name)"/>
    <remap from="point_cloud_topic" to="$(arg point_cloud_topic_name)"/>
    <param name="camera_frame" value="$(arg camera_frame_name)" type="string"/>

    <param name="start_tracking_on_push_call" value="false" type="bool"/>

    <param name="start_loc_push_time_limit" value="6.0" type="double"/>
    <param name="start_loc_push_dist" value="0.30" type="double"/>
    <param name="use_center_pointing_shape_context" value="true" type="bool"/>
    <param name="use_displays" value="true" type="bool"/>
    <param name="display_wait_ms" value="5" type="int"/>
    <param name="write_to_disk" value="false" type="bool"/>
    <param name="write_input_to_disk" value="false" type="bool"/>
    <param name="icp_max_iters" value="1000" type="int" />
    <param name="icp_transform_eps" value="0.001" type="double"/>
    <param name="icp_max_cor_dist" value="1.0" type="double"/>
    <param name="icp_ransac_thresh" value="0.015" type="double"/>

    <param name="workspace_frame" value="torso_lift_link" type="string"/>
    <param name="min_workspace_x" value="-1.0" type="double"/>
    <param name="max_workspace_x" value="1.5" type="double"/>
    <param name="min_workspace_z" value="-0.8" type="double"/>
    <param name="max_workspace_z" value="0.6" type="double"/>
    <param name="min_table_z" value="-1.0" type="double"/>
    <param name="max_table_z" value="1.0" type="double"/>
    <param name="self_mask_dilate_size" value="0" type="int"/>
    <param name="num_downsamples" value="1" type="int"/>

    <param name="pcl_cluster_tolerance" value="0.03" type="double"/>
    <param name="pcl_min_cluster_size" value="100" type="int"/>
    <param name="pcl_max_cluster_size" value="25000" type="int"/>
    <param name="pcl_voxel_downsample_res" value="0.005" type="double"/>
    <param name="pcl_cloud_intersect_thresh" value="0.0025" type="double"/>
    <param name="pcl_concave_hull_alpha" value="0.1" type="double"/>
    <param name="use_pcl_voxel_downsample" value="true" type="bool"/>
    <param name="table_ransac_thresh" value="0.015" type="double"/>
    <param name="table_ransac_angle_thresh" value="5.0" type="double"/>

    <param name="cylinder_ransac_thresh" value="0.015" type="double"/>
    <param name="cylinder_ransac_angle_thresh" value="5.0" type="double"/>
    <param name="optimize_cylinder_coefficients" value="false" type="bool"/>

    <param name="sphere_ransac_thresh" value="0.015" type="double"/>

    <param name="pcl_difference_thresh" value="0.0001" type="double"/>

    <param name="use_mps_segmentation" value="false" type="bool"/>
    <param name="mps_min_inliers" value="200" type="int"/>
    <param name="mps_min_angle_thresh" value="5.0" type="double"/>
    <param name="mps_min_dist_thresh" value="0.1" type="double"/>

    <param name="img_output_path" value="/u/thermans/data/new/" type="string"/>

    <param name="push_tracker_dist_thresh" value="0.01" type="double"/>
    <param name="push_tracker_angle_thresh" value="0.1" type="double"/>
    <param name="major_axis_spin_pos_scale" value="0.75" type="double"/>
    <param name="use_cv_ellipse" value="false" type="bool"/>
    <param name="max_object_gripper_dist" value="0.25" type="double"/>
    <param name="max_object_tool_dist" value="0.30" type="double"/>
    <param name="gripper_not_moving_thresh" value="0.001" type="double"/>
    <param name="object_not_moving_thresh" value="0.003" type="double"/>
    <param name="gripper_not_moving_count_limit" value="50" type="int"/>
    <param name="object_not_moving_count_limit" value="50" type="int"/>
    <param name="object_not_detected_count_limit" value="5" type="int"/>
    <param name="object_too_far_count_limit" value="2" type="int"/>
    <param name="object_not_between_count_limit" value="2" type="int"/>
    <param name="object_not_between_epsilon" value="0.02" type="double"/>
    <param name="object_not_between_tool_epsilon" value="0.05" type="double"/>
    <param name="point_cloud_hist_res" value="0.0051" type="double"/>

    <param name="arm_color_model_name" value="arm_color_model_1.bin" type="string"/>
  </node>
</launch>
