<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="cart_base" params="prefix">
  <property name="pi" value="3.14159265" />

  <joint name="${prefix}cart_base_joint" type="fixed">
    <parent link="${prefix}base_link" />
    <child link = "${prefix}cart_base_link" />
    <origin xyz="0.08 -0.12 -0.915" rpy="0.0 0.0 0.0" />
  </joint>
  
  <link name="${prefix}cart_base_link">
    <visual>
      <!--
      <geometry>
          <box size="1.22 0.62 0.915" />
      </geometry>
      -->
      <geometry>
        <mesh filename="package://ur10_description/meshes/cube.dae" scale="1.22 0.62 0.915"/>
      </geometry>
      <origin xyz="-0.61 0.31 0.458" rpy="0.0 0.0 0.0" />
      <material name="grey">
          <color rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <geometry>
          <box size="1.22 0.62 0.915" />
      </geometry>
      <origin xyz="-0.61 0.31 -0.458" rpy="0.0 0.0 0.0" />
    </collision>
    <inertial>
      <mass value="100" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      <origin xyz="-0.61 0.31 -0.458" rpy="0.0 0.0 0.0" />
    </inertial>
  </link>

  <joint name="${prefix}work_table_joint" type="fixed">
    <parent link="${prefix}cart_base_link" />
    <child link = "${prefix}work_table_link" />
    <origin xyz="0.0 0.0 0.715" rpy="0.0 0.0 ${-3.0*pi/4.0}" />
  </joint>
  
  <link name="${prefix}work_table_link">
      <!--
    <visual>
      <geometry>
          <box size="1.22 0.62 0.915" />
      </geometry>
      <geometry>
        <mesh filename="package://ur10_description/meshes/cube.dae" scale="1.22 0.62 0.915"/>
      </geometry>
      <origin xyz="-0.61 0.31 0.458" rpy="0.0 0.0 0.0" />
      <material name="grey">
          <color rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    <collision>
      <geometry>
          <box size="1.22 0.62 0.915" />
      </geometry>
      <origin xyz="-0.61 0.31 -0.458" rpy="0.0 0.0 0.0" />
    </collision>
      -->
    <inertial>
      <mass value="100" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      <origin xyz="-0.61 0.31 -0.458" rpy="0.0 0.0 0.0" />
    </inertial>
  </link>
</xacro:macro>

</robot>
