<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="sensors" params="prefix">
  <property name="pi" value="3.14159265" />

  <joint name="${prefix}lifecam_joint" type="fixed">
    <parent link="${prefix}base_link" />
    <child link = "${prefix}lifecam1_optical_frame" />
    <origin xyz="0.260675 0.037183 1.903672" rpy="-2.78084434849 -0.0267970865698 1.96534931804" />
  </joint>
  
  <link name="${prefix}lifecam1_optical_frame">
    <inertial>
      <mass value="100" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </inertial>
  </link>
</xacro:macro>

</robot>
